
html {
  background-image: url("../static/COBackground2.png");
}

a{
  text-shadow: none;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}


  